[Desktop Entry]
Type=Application
Name=MOG Client
Comment=Browse, install and launch games from a MOG-Server
Exec=mog-client
Icon=mog-client
Categories=Game;
Terminal=false
